.pessoa-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.listagem {
    display: grid;
    grid-template-columns: auto auto;
}

@media screen and (max-width: 400px) {
    .listagem {
        display: block;
    }
}

.pessoa-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.pessoa-list article a {
    height: 22px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    padding: 3px;
    color: #da552f;
    font-weight: bold;
    font-size: 0.7rem;
    text-decoration: none;
    /* display: block; */
    justify-content: center;
    justify-items: center;
    transition: all 0.3s;
}

.pessoa-list article a:hover {
    background: #da552f;
    color: #fff;
}

.parcelas {
    font-size: 1rem;
    margin: 5px;
    padding: 0;
}

.ok {
    color: #008000;
}

.nok {
    color: #ff0000;
}

.add_contato {
    display: grid;
    grid-template-columns: auto auto;
}

.click-group {
    float: right;
}

span.new {
    color: var(--warning);
    font-size: 1.5rem;
    transform: rotate(45deg);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    align-items: center;
    justify-content: center;
}
