@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

div#form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div#form-login article {
    width: 320px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#form-login article img {
    width: 100px;
    margin: 10px 0 20px;
}

.form-control {
    height: 32px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #777;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
}

.btn {
    width: 65px;
    height: 30px;
    border-radius: 2px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    padding: 5px;
    color: #da552f;
    font-weight: bold;
    font-size: .85rem;
    text-decoration: none;
    margin: 10px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.btn:hover {
    background: #da552f;
    color: #fff;
}

.grid {
    display: flex;
    width: 650px;
    height: 350px;
    align-items: center;
    justify-content: space-between;
    background-color: #b9b9b9;
    border-radius: 2px;
    box-shadow: 0.3rem 0.5rem 0.6rem rgba(0, 0, 0, 0.4);
}

div.logo {
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    vertical-align: middle;
}

div.logo div {
    color: #da552f;
    display: inline-flex;
    padding: auto 0;
}

div.logo div font {
    padding-top: 2px;
    font-size: 4rem;
}

.title-group2 {
    flex-direction: column;
    margin: auto 0;
}

.title-group2 span {
    display: inline-block;
    color: #fff;
    font-size: 2.1rem;
}

.title-group2 p {
    display: inline-block;
    color: rgb(16, 37, 122);
    font-size: 1.2rem;
    text-align: left;
}