:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --primary-hover: #0069d9;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

}

.emprestimo-info{
    width: 100%;
    margin-top: 20px;
    /* padding: 0 20px; */
}

.emprestimo-info article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.total, .debito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.emprestimos{
    font-size: 1rem;
    margin: 5px;
    padding: 0;
}

.emprestimo-valor{
    font-weight: bold;
    color: #881515;
}

.emprestimos-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-pag{
    height: 22px;
    border-radius: 5px;
    /* border: 2px solid #da552f; */
    background: none;
    margin-top: 10px;
    padding: 3px;
    color: #da552f;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    /* display: block; */
    justify-content: center;
    justify-items: center;
    transition: all 0.3s;
    display: flex;
}

.btn-pag:hover{
    background: #da552f;
    color: #fff;
}

.add_emprestimo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 10px;
}

.add_emprestimo.clik-group{
    height: 80px;
    align-items: flex-end;
    justify-content: end;
}

span.new {
    color: var(--warning);
    font-size: 1.5rem;
    transform: rotate(45deg);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    align-items: flex-end;
    justify-content: end;
}