.fundo {
    background-color: rgba(255, 255, 255, 0.268);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#square {
    border: 10px solid rgba(104, 104, 104, 0.1);
    border-left-color: #DA552F;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    animation: spin 3s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#circle {
    border: 8px solid rgba(104, 104, 104, 0.1);
    border-right-color: #ff9b75;
    border-radius: 50%;
    width: 135px;
    height: 135px;
    animation: spiner 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spiner {
    to {
        transform: rotate(-360deg);
    }
}