:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --primary-hover: #0069d9;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

}

.pagamento-info{
    max-width: 600px;
    margin: 20px auto 0;
    padding: 0 20px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.pagamento-info article{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.primary{
    cursor: pointer;
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 2px;
}

.pagamentos{
    display: grid;
    grid-template-columns: auto auto auto;
}

.primary:hover{
    background-color: #0069d9;
}

.rotulo{
    display: block;
}

.tabela{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

th, td{
    padding: 5px;
}

table, th, td{
    border: 1px solid #000;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}

span.new{
    width: 20%;
    padding: 5px 10px;
    transform: rotate(45deg);
    color: var(--success);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

span.new:hover{
    font-size: 1.5rem;
}

.insert{
    display: grid;
    grid-template-columns: auto auto;
    width: 300px;
    display: none;
    margin-top: 15px;
    margin: 5px;
}

.form-group{
    display: flex;
    flex-direction: column;
}
.form-group input, label{
    margin: 1px;
    height: 25px;
    padding: 2px;
    border-radius: 3px;
}

.form-group input{
    border: 1px solid #ddd;
}

.btn-success{
    margin: 5px auto;
    padding: 5px 10px;
    font-weight: bold;
    background-color: var(--success);
    color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    transition: .5s;
}

.btn-success:hover{
    background-color: #1e7e34;

}